
.containerOuterPhotos{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 5px;
    margin: 5px 0px;
    animation: fade-in 1s;
}

.containerInnerPhotos{
    display:flex;
    max-width: 70%;
    flex-flow: column wrap;
    text-align: center;
    justify-items: flex-start;
    align-items: center;
    max-height: 52em;
    min-height: auto;
    
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    max-width: 90%;
    text-align: center;
    justify-items: center;
    align-items: center; */
}

.thumbnail{
    /* display: flex; */
    flex:auto;
    display: flex;
    padding: 5px; /* Some padding */
    max-width: calc(100% / 3);
    margin: 0 5px;
    min-width: 150px;
    height: auto;
    object-fit: scale-down;
    transition: transform 0.4s;
    /* padding-top: 0px; */
    object-position: top;

}

@media screen and (min-width: 992px) {
.containerInnerPhotos{
    max-width: 70%;
    max-height: 49em;
    min-height: auto;
    /* background-color: gold; */
}

.thumbnail{
    max-width: 32%;
    min-width: 150px;
    height: auto;
}

}


@media screen and (min-width: 822px) and (max-width: 991px) {
    .containerInnerPhotos{
        max-width: 70%;
        max-height: 77em;
        min-height: auto;
        /* background-color: red; */
    }
    
    .thumbnail{
        max-width: 49%;
        min-width: 100px;
        height: auto;
    }
    

}

@media screen and (min-width: 690px) and (max-width: 821px) {
    .containerInnerPhotos{
        max-width: 70%;
        max-height: 63em;
        min-height: auto;
        /* background-color: purple; */
    }

    .thumbnail{
        max-width:  48%;
        min-width: 100px;
        height: auto;
    }
    

}

@media screen and (max-width: 689px) {
    .containerInnerPhotos{
        max-width: 70%;
        max-height: 220em;
        min-height: auto;
        /* background-color: green; */
    }
    

    .thumbnail{
        max-width: 96%;
        min-width: 100px;
        height: auto;
    }
    

}

.thumbnail:hover{
    transform:scale(1.1);
}