
.concertContainer{
    display:grid;
    grid-template-columns: 2fr 2fr 5fr;
    grid-template-rows: 1fr;
    width: 80%;
    padding:10px 0px;
    background-color: none;
    transition: background-color 0.2s, transform 0.2s;
    flex-wrap: wrap;
    justify-items: stretch;
    padding-top:15px ;
    padding-bottom:15px ;
}

.concertContainer:hover{
    background-color: rgba(228, 227, 171, 0.973);
    transition: background-color 0.2s, transform 0.2s;
    transform: scale(1.05);
}

.concertDate{
    display: flex;
    justify-content: center;
    
}

.concertTime{
    display: flex;
    border-left:1px solid #212529;
    justify-content: center;
}

.concertPlace{
    display: flex;
    align-items: flex-start;
    border-left:1px solid #212529;
}


/* --------------------------------- */
@media screen and (min-width: 1200px) {
    .concertContainer{
        --cur-width:100%;
        grid-template-columns: 4fr 4fr 7fr;
        width: 55%;
        /* background-color: yellowgreen; */
    }

    .concertPlace{
        padding-left: 10%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .concertContainer{
        grid-template-columns: 3fr 3fr 5fr;
        width: 65%;
        /* background-color: red; */
    }

    .concertPlace{
        padding-left: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .concertContainer{
        grid-template-columns: 3fr 3fr 5fr;
        width: 90%;
        /* background-color: orangered; */
    }
    
    .concertPlace{
        padding-left: 10%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .concertContainer{
        grid-template-columns: 3fr 3fr 5fr;
        width: 100%;
        /* background-color: yellow; */
    }
    
    .concertPlace{
        padding-left: 10%;
    }

}

@media screen and (max-width: 575px) {
    .concertContainer{
        grid-template-columns: 3fr 3fr 5fr;
        width: 100%;
        margin: 0px 5px;
        /* background-color: purple; */
    }
    .concertPlace{
        padding-left: 10%;
    }
    
    
}