.containerMerch{
    display: grid;
    /* grid-template-columns: 3fr 3fr 3fr; */
    grid-template-rows: 3fr;
    margin: 20px 10%;
    gap: 20px;
    align-items: center;
    justify-items: center;
    animation: fade-in 1s;
}

@media screen and (min-width: 1200px) {
    .containerMerch{
        grid-template-columns: 3fr 3fr 3fr;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .containerMerch{
        grid-template-columns: 3fr 3fr 3fr;
        /* background-color: blue; */
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .containerMerch{
        grid-template-columns: 3fr 3fr;
        gap: 10px;
        /* background-color: red; */
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .containerMerch{
        grid-template-columns: 3fr 3fr;
        gap: 10px;
        /* background-color: pink; */
    }
}

@media screen and (max-width: 575px) {
    .containerMerch{
        grid-template-columns: 3fr;
        /* background-color: sandybrown; */
    }
}