form.contactForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
}

form.contactForm *{
    margin:5px 0px;
}

form.contactForm input{
    width:100%;
}

form.contactForm button{
    width:30%;
}

input.messageInput{
    /* width:80%; */
    height: 6em;
    display: flex;
}


@media screen and (min-width: 1200px) {
    form.contactForm{
        width: 40%;
        /* background-color: salmon; */
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    form.contactForm{
        width:40%;
        /* background-color: coral; */
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    form.contactForm{
        width:45%;
        /* background-color: chocolate; */
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    form.contactForm{
        width:55%;
        /* background-color: seagreen; */
    }
}

@media screen and (max-width: 575px) {
    form.contactForm{
        width:70%;
        /* background-color: aqua; */
    }

}